
@import url("https://fonts.googleapis.com/css?family=VT323");
            
::selection {color:#FFFFFF; background:transparent;}
::-moz-selection {color:#FFFFFF; background:transparent;}   

*{
    margin: 0;
    padding: 0;
    font-family: "VT323";
}

body{
    background-color: #000080;
}
.wrap{
    margin-left: auto;
    margin-right: auto;
}
header{
    width: 340px;
    font-size: 0;
}
canvas{
    display: none;
    border-style: solid;
    border-width: 10px;
    border-color: #FFFFFF;
}
canvas:focus{
    outline: none;
}
#newgame_menu{
    
    font-size: 40px;
    
}
/* Top Styles */
h1{
    display: inline-block;
    width: 100px;
    font-size: 32px;
    color: #FFFFFF;
}
.score{
    display: inline-block;
    width: 240px;
    font-size: 20px;
    color: #FFFFFF;
    text-align: right;
}
.score_value{
    font-size: inherit;
}



/* All screens style */
#gameover a, #menu a{
    display: block;
}

#gameover a, #menu a:hover{
    cursor: pointer;
}

#gameover a:hover::before,  #menu a:hover::before{
    content: ">";
    margin-right: 10px;
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: white;
    cursor: pointer;
  }
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #000080;
    cursor: pointer;
  }
  .slider {
    -webkit-appearance: none;
    width: 80%;
    height: 5px;
    background: #d3d3d3;
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
#speedLabel{
    float:left; display:inline; width: 49%;
}  
#speedContainer{
    float:left; display:inline; width: 49%;
}



#wallContainer input{
    display:none;
}

#wallContainer  label{
    cursor: pointer;
}


#wallContainer input:checked + label{
    background-color: #FFF;
    color: #000080;
}

#wallContainerGO input{
    display:none;
}

#wallContainerGO  label{
    cursor: pointer;
}


#wallContainerGO input:checked + label{
    background-color: #FFF;
    color: #000080;
}




/* Menu Screen Style */
#menu{
    display: block;
    width: 340px;
    padding-top: 95px;
    padding-bottom: 95px;
    font-size: 40px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #FFF;
}

#menu h2{
    -webkit-animation: logo-ani 1000ms linear infinite;
            animation: logo-ani 1000ms linear infinite;
    margin-bottom: 30px;
    
}


#menu a{
    font-size: 50px;
}

@-webkit-keyframes logo-ani{
   50%{-webkit-transform: scale(1.3,1.3);}
  100%{-webkit-transform: scale(1.0,1.0);}
}

@keyframes logo-ani{
   50%{transform: scale(1.3,1.3);}
  100%{transform: scale(1.0,1.0);}
}


/* Game Over Screen Style */

#gameover{
    display: none;
    width: 340px;
    padding-top: 95px;
    padding-bottom: 95px;
    font-size: 40px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #FFF;
}

#gameover p{
    margin-top: 25px;
    font-size: 20px;
}



